#nicolas, #jul, #jad, #jana, #issam, #clara{
  color: #ffffff;
}

#cam{
  font-size: 28px;
}

.searc{
  background-color: #00b6a6;
  color: #00b6a6;
}

.badge{
  padding: 10px;
  border-radius: 8px;
  font-size: 0.8em;
}

.logo{
  width: 70px;
  margin: 5px;
  display: block;

  content: url("../assets/squarebin.svg");
}
